<div class="container">
  <header></header>

  <h4>Select planets you want to search in:</h4>
  <br />

  <div class="row title">
    <div class="col col-3 ">
      <div class="font-weight-bold text-center">Destination 1</div>
      <journey-selector [destinationNumber]="1" [planets]="planets" [vehicles]="vehicles" (selectedDestination)='selectedDestination($event)'>
      </journey-selector>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 2</span>
      <journey-selector [destinationNumber]="2" [planets]="planets" [vehicles]="vehicles" (selectedDestination)='selectedDestination($event)'>
      </journey-selector>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 3</span>
      <journey-selector>
      </journey-selector>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 4</span>
      <journey-selector>
      </journey-selector>
    </div>
  </div>

  <br />
  <h6>Time taken : tbc...</h6>
  <pre>selectedDestinations : {{selectedDestinations | json}}</pre>

  <app-footer></app-footer>
</div>