<div class="container">
  <header></header>

  <h4>Select planets you want to search in:</h4>
  <br />

  <div class="row title">
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 1</span>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 2</span>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 3</span>
    </div>
    <div class="col col-3 text-center">
      <span class="font-weight-bold">Destination 4</span>
    </div>
  </div>

  <br />
  <h6>Time taken : tbc...</h6>

  <app-footer></app-footer>
</div>