<form [formGroup]="journeyForm">

  <div class="form-group planet-select">
    <select *ngIf="!selectedPlanetName" class="form-control" id="planet" formControlName="planet">
      <option></option>
      <option *ngFor="let planet of planets">{{planet.name}}</option>
    </select>
    <input *ngIf="selectedPlanetName" class="form-control" type="text" formControlName="selectedPlanetName" disabled>
  </div>

  <div *ngIf="
      journeyForm.value.planet">
    <div class="vehicles" *ngFor="let vehicle of vehicles">
      <input class="form-check-input" type="radio" formControlName="vehicle" id="{{vehicle.name+destinationNumber}}"
        value="{{vehicle.name}}" (change)="processDestination()">
      <label class="form-check-label" for="{{vehicle.name+destinationNumber}}">{{vehicle.name}} ({{vehicle.total_no}})</label>
    </div>
    <div *ngIf="displaySelectedVehicleErrorMessage" class="has-error">
      All vehicles of this type have been selected, please choose another vehicle.
    </div>
  </div>

</form>